flask
flask-cors
opencv-python
numpy
mediapipe
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
pillow
matplotlib
onnx
onnxruntime
onnxscript
